name: Build Nginx-UI Docker Image

on:
  push:
  schedule:
    - cron: "0 11 */11 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v4
      -
        name: Get upstream version
        id: getversion
        run: |
          echo "NUIVER=$(curl -sL https://api.github.com/repos/0xJacky/nginx-ui/releases/latest | jq -r .name)" >> $GITHUB_OUTPUT
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./nginx-ui
          platforms: linux/amd64,linux/arm64
          tags: >-
            ${{ secrets.DOCKERHUB_USERNAME }}/nginx-ui:latest,
            ${{ secrets.DOCKERHUB_USERNAME }}/nginx-ui:${{ steps.getversion.outputs.NUIVER }}
          cache-from: type=gha
          cache-to: type=gha,mode=max